streamlit
streamlit_authenticator
watchdog
sqlmodel
python-docx
langchain
openai
langchain-openai
langchain-community
langchain-core
huggingface-hub
faiss-cpu
configparser
torch
torchvision
torchaudio
transformers
sentence-transformers
pypdf
python-dotenv
docx2pdf
